/* Reset Style */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

/* Header Style */

header {
  background-color: darkgray;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  color: white;
}

.sign-cta a {
  opacity: 1;
  transition: opacity .3s ease;
  padding: .5rem 1rem;
  border: 1px solid white;
  border-radius: 5px;
  min-width: 200px;
}

.sign-cta a:hover {
  opacity: .8;
}

nav ul {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

nav li {
  opacity: 1;
  cursor: pointer;
  transition: .3s ease;
}

nav li:hover {
  opacity: .8;
}

@media screen and (min-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}