.mobile__menu.is-active {
  opacity: 1 !important;
}
.mobile__menu:not(.is-active) {
  opacity: 0 !important;
  transition: opacity 300ms ease-in-out;
}

.logout img {
  height: 24px !important;
}

img {
  max-height: 200px;
  min-height: 100px;
  min-width: 100px;
  margin: auto;
}

main {
  margin: 2rem 0;
}

