.posts {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.home-post {
  padding: 30px;
  min-width: 300px;
  display: grid;
  grid-template-areas:
    "edit       delete"
    "image      image";
  background-color: beige;
}

.home-post a:nth-child(1) {
  grid-area: edit;
  display: flex;
  justify-content: center;
}

.home-post a:nth-child(2) {
  grid-area: delete;
  display: flex;
  justify-content: center;
}

.home-post a:nth-child(3) {
  margin-top: 1rem;
  grid-area: image;
  text-align: center;
}

.home-post a:nth-child(3) h2 {
  font-size: 24px;
}

.home-post svg {
  width: 20px;
  height: 20px;
}
